.direnv
.vscode
**/node_modules
**/.DS_Store
**/build
**/.venv
**/.ruff_cache
**/env
**/.env
**/venv
**/dist
**/latestBuild.zip
**/cache
**/*.pyc
**/secrets.py
**/wifi_config.py

**/__pycache__
**/.pytest_cache